<div class=" row my-5">
    <div class=" col-md-4 my-5">
        <img [src]="imgBaseUrl+trindingMovie.poster_path" class=" img-fluid">
    </div>
    <div class="col-md-8 my-5 ">
        <div class="moreDetails">
            <h1 class=" text-left">{{trindingMovie.title}}</h1>
            <p class=" text-left">{{trindingMovie.overview}}</p>
            <div class="extra_details">
                <div class=" my-5">Release Date &nbsp;&nbsp; {{trindingMovie.release_date}}</div>
                <div  class=" my-5"> <a target=" _blank" href="https://www.imdb.com/" class="btn imdb  btn-lg active" role="button" aria-pressed="true">IMDb</a> &nbsp;&nbsp;&nbsp;  {{trindingMovie.vote_average}} &nbsp; <span class="star"><i class="fas fa-star"></i></span></div>
                <span class="mr-2 p-2 bg-info rounded mb-5" *ngFor ="let gen of trindingMovie.genres">{{gen.name}}</span>
            </div>
            <div class=" my-5">
                <button class=" btn btn-outline-info" ><a href="https://yts.mx/" target="_blank" class=" text-decoration-none text-white" > Download form YTS</a></button>
            </div>
            
        </div>
    </div>
</div>
