.moreDetails p{
    font-size: 1.3rem;
}
.moreDetails h1{
    font-size: 1.6;
    color: #09c;
    font-weight: 600;
}
.extra_details{
    font-size: 1.2rem;
}

.imdb{
    
    background-color: #E2B616;
    color: black;
    border-radius: 5px;
    padding: 2px;
    font-weight: 700;
}
.star{
    color: #6ac045;
}